__pycache__/
*.egg-info/
build/
dist/
.eggs/
.vscode/
*.lprof
ckpt/
runs/
.ipynb_checkpoints
wandb*/
test/
saved_models/
backup/
config.yaml
checkpoints/
*.tar.gz
data/
*.zip
*.tar
*.tar.zip
handoff.md